@import url('http://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
}
.register {
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: #d6ebfc;
}
.close_top {
  outline: none;
  cursor: pointer;
  border: 0;
  padding-top: 4.5%;
  margin-right: 4.5%;
}
.modal > section {
  width: 400px;
  height: auto;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 50px;
  background: #fefaef;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
.modal > section > header {
  position: relative;
  padding: 30px 40px 16px 16px;
  font-weight: 900;
  font-size: x-large;
  font-family: 'NanumSquareRound';
  color: #090936;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #090936;
  background-color: transparent;
}
.modal > section > main {
  padding: 5px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.modal > section > footer {
  padding: 20px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.register {
  padding: 6px 12px;
  color: #fff;
  background-color: #d6ebfc;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 900;
  color: #090936;
}
.close_bottom {
  padding: 6px 12px;
  color: #fff;
  background-color: #ff8d89;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 900;
  color: #090936;
  border: 0;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
  margin-top: 0;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
