.notice {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefaef;
  border-radius: 80px;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
  padding-top: 3%;
  padding-bottom: 1%;
  margin: 1%;
  flex-flow: wrap row;
}

.page > nav > ul {
  justify-content: center;
}

.noticeDetail {
  width: 60%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  background: #fefaef;
  border-radius: 80px;
  margin-bottom: 3%;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.detailBox {
  border-radius: 20px;
  width: 80%;
  background-color: white;
  border: none;
  padding: 3%;
  margin-top: 5%;
}

.btn {
  background: #d6ebfc;
  border-radius: 17px;
  border: none;
  width: 130px;
  height: 50px;
  margin: 3%;
  font-weight: 550;
  font-size: 15px;
  cursor: pointer;
}
