.container {
  background: #ffd4c3;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background: #ffd4c3;
  width: 100vw;
  height: 30vh;
}

.main {
  display: flex;
  width: 100vw;
  height: 70vh;
  /* flex: 5; */
  background: #ffd4c3;
}

.body {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd4c3;
}

.inmain {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* flex: 5; */
  background: #ffd4c3;
}

.inbody {
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd4c3;
}

.videobox {
  display: inline-grid;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(2, 300px);
  width: 1000px;
  height: 600px;
  background: #fefaef;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 50px;
  position: relative;
  gap: 5px 8px;
  padding: 3%;

  /* align-content: space-evenly; */
}

.settingBarBtn {
  right: 7.5%;
  bottom: 3.5%;
  position: fixed;
}

.video_setting_bar {
  width: 500px;
  height: 60px;
  position: absolute;
  bottom: 8%;
  left: 18%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.icons {
  justify-content: space-between;
  display: flex;
}
.icon {
  margin: 0 19%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

/* CHATBOX
  =============== */
.chatWrapper {
  margin-top: 10%;
  width: 300px;
  height: 500px;
  background: #fefaef;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 50px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatdiv {
  margin: 3% 0 5% 3%;
  width: 25%;
  height: 80vh;
  right: 0%;

  background: #fefaef;
  border-radius: 50px 0px 0px 50px;
  position: absolute;
  display: flex;
  flex-direction: column;

  background: #fefaef;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.chatHeader {
  text-align: center;
  color: #090936;
  margin-top: 5%;
}

.chatHeader > button {
  width: 16px;
  height: 29px;
  background: none;
  border: none;
}

.chatLogBox {
  display: flex;
  flex-flow: column;

  margin: 3% 10%;

  width: 83%;
  height: 55vh;

  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.scroll {
  overflow: auto;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #eb6123;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background-color: rgba(235, 97, 35, 0.2);
  border-radius: 0 10px 10px 0;
}

.userListBox {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  margin: 3% 10%;
  width: 80%;
  height: 78%;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.listBtn {
  width: 50px;
  height: 30px;
  background: #ffdad7;
  border-radius: 10px;
  border: none;
  margin-inline: 1%;
  cursor: pointer;
}

/* Messages */
.chatbox__messages {
  padding: 0px 50px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messages__item {
  margin-top: 10px;
  background: #e0e0e0;
  padding: 8px 12px;
  max-width: 70%;
  width: fit-content;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  margin-right: auto;
}

/* 메시지 */
.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: black;
  margin-left: auto;
}

.outIcon {
  position: fixed;
  right: 3%;
  bottom: 2%;
  display: flex;
  align-items: center;
}

/* FOOTER */
.chatFooter {
  display: flex;
  flex-flow: column;

  width: auto;
  position: relative;
  font-family: 'NanumSquareRound';
  margin: 2% 5% 2% 10%;
  height: 40px;
}

#chatInputForm {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'NanumSquareRound';

  text-indent: 5%;
  /* width: 80%; */
  height: 40px;

  background: #ffffff;
  border-radius: 15px;
  position: relative;
}

.chatSendButton {
  width: 70px;
  height: 30px;

  background: rgba(9, 9, 54, 0.85);
  border-radius: 15px;
  color: #e0e0e0;
  position: absolute;
  top: 4.5px;
  right: 7.5px;
  font-family: 'NanumSquareRound';
  font-weight: 700;
  font-size: small;
}
/* 메시지 내가 보낼 때 */
.myMessage {
  right: 0%;
}
/* 메시지 다른 사람이 보낼 때 */
.otherMessage {
  left: 0%;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: right;
}

/* CONTENT ISOPEN */

.form_group {
  background: '#ffd4c3';
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
}
.modal > section {
  width: 400px;
  height: 550px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 50px;
  background: #fefaef;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}
.modal > section > header {
  position: relative;
  padding: 30px 40px 16px 16px;
  font-weight: 900;
  font-size: x-large;

  color: #090936;
}
.modal > section > header button {
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #090936;

  background-color: transparent;
}
.modal > section > main {
  padding: 5px;
  margin-top: 5%;
  display: flex;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  width: 300px;
  height: 100px;

  background: #ffffff;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
  margin-top: 0;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
