.container {
  background: #ffd4c3;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background: #ffd4c3;
  width: 100vw;
  height: 30vh;
}

.main {
  display: flex;
  width: 100vw;
  height: 70vh;
  /* flex: 5; */
  background: #ffd4c3;
}

.body {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd4c3;
}

.inmain {
  display: flex;
  width: 100vw;
  height: 100vh;
  /* flex: 5; */
  background: #ffd4c3;
}

.inbody {
  width: 65vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffd4c3;
}

.sidebar {
  width: 35vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  background: #ffd4c3;
}

.sidebar_footer {
  background: #ffd4c3;
}

.videobox {
  margin: auto;
  margin-left: 2%;
  padding: 1.5rem;
  display: flex;
  justify-content: baseline;
  width: 65vw;
  height: 80vh;
  background: #fefaef;
  /* box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802); */
  border-radius: 50px;
}

/* CHATBOX
  =============== */
.chatWrapper {
  margin-top: 10%;
  width: 30vw;
  height: 80vh;

  background: #fefaef;

  /* box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px
      5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802); */
  border-radius: 50px 0px 0px 50px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: -123456;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.chatHeader {
  background: #fefaef;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
}

.chatHeader > button {
  width: 16px;
  height: 29px;

  background: none;
  border: none;
}

.chatLogBox {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  margin: auto;

  width: 25vw;
  height: 50vh;

  background: #ffffff;
  border-radius: 50px;
}

.userListBox {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  align-items: baseline;
  /* justify-content: center; */
  /* padding: auto; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  width: 25vw;
  height: 55vh;
  background: #ffffff;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 4%;
}

li {
  margin: auto;
}

/* Messages */
.chatbox__messages {
  padding: 0px 50px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.messages__item {
  margin-top: 10px;
  background: #e0e0e0;
  padding: 8px 12px;
  max-width: 70%;
  width: fit-content;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  margin-right: auto;
}

/* 메시지 */
.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color: black;
  margin-left: auto;
}

/* FOOTER */
.chatFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 20px;
}

#chatInputForm {
  border-style: solid;

  margin-right: 0.5rem;
  text-align: inherit;
  text-indent: 5%;
  width: 372px;
  height: 35px;

  background: #ffffff;
  border-radius: 30px;
}

.chatSendButton {
  width: 111px;
  height: 40px;

  background: rgba(9, 9, 54, 0.85);
  border-radius: 30px;
  color: #e0e0e0;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: right;
}

/* CONTENT ISOPEN */
.chatbox__active {
  min-height: 60vh;
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
}

.form_group {
  background: '#ffd4c3';
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 0;
}
.modal > section {
  width: 400px;
  height: 550px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 50px;
  background: #fefaef;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  text-align: center;
}
.modal > section > header {
  position: relative;
  padding: 30px 40px 16px 16px;
  font-weight: 900;
  font-size: x-large;

  color: #090936;
}
.modal > section > header button {
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #090936;

  background-color: transparent;
}
.modal > section > main {
  padding: 5px;
  margin-top: 5%;
  /* align-items: center; */
  display: flex;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  width: 300px;
  height: 100px;

  background: #ffffff;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
  margin-top: 0;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
