/* 로그인 페이지 (첫 페이지) */
@import url('http://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
.login {
  text-align: center;
  font-family: 'NanumSquareRound';
  justify-content: center;

  display: flex;
  flex-flow: row nowrap;
  background: #fffdfa;
}

/* Rectangle 19 */
.loginform {
  width: 480px;
  height: 500px;
  justify-content: center;

  background: #fefaef;
  mix-blend-mode: normal;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 50px;
  margin-bottom: 3%;
  margin-top: 10%;
}

/* Group 5 */
.signUpButton {
  margin-left: 50px;
  width: 375px;
  height: 56px;
  background: #d6ebfc;
  border-radius: 17px;

  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #090936;
}
.inputform {
  display: flex;
  justify-content: center;
}

/* Rectangle 22 */
#userEmail {
  width: 300px;
  height: 53px;

  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

/* Rectangle 20 */
#userPassword {
  width: 300px;
  height: 53px;

  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
}

/* Group 6 */
.loginButton {
  width: 120px;
  height: 120px;
  margin-right: 20px;

  mix-blend-mode: normal;

  background: #d6ebfc;
  border-radius: 25px;

  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 5%;
  width: 100px;
  height: 110px;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}
