/* 로그인 페이지 (첫 페이지) */
@import url('http://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
.login {
  text-align: center;
  font-family: 'NanumSquareRound';
  /* 가로로 가운데 정렬 */
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.login_logo {
  margin: 3% 0;
  top: auto;
}

/* Rectangle 19 */
.loginform {
  width: 360px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  background: #fefaef;
  mix-blend-mode: normal;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 30px;
  margin-bottom: 2%;
  align-items: center;
  animation: login-form-ani 0.5s;
}

/* Group 5 */
.signUpButton {
  width: 260px;
  height: 45px;
  background: #d6ebfc;
  border-radius: 10px;
  border: none;

  font-family: 'NanumSquareRound';
  /* font-style: normal; */
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #090936;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
}
.inputform {
  width: 265px;
  display: flex;
  flex-flow: row nowrap;
  margin-right: 10%;
  margin-left: 10%;
  background: #fefaef;
  padding-top: 5%;
  margin-top: 5%;
}

.socialLogin {
  /* display: flex;
  flex-flow: column nowrap;
  background: #fefaef; */
  align-items: center;
}

.inputs {
  background: #fefaef;
}

/* Rectangle 22 */
#userEmail {
  width: 188px;
  height: 40px;

  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  margin-top: 1rem;
  margin-bottom: 5%;
  padding-left: 4%;
}

#userPassword {
  width: 188px;
  height: 40px;

  background: #ffffff;
  border-radius: 10px;
  border: none;
  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  /* margin-top: 1rem; */
  margin-bottom: 5%;
  padding-left: 4%;
}

.loginButton {
  width: 95px;
  height: 95px;
  margin-top: 15px;
  /* margin-left: 5%; */

  mix-blend-mode: normal;

  background: #d6ebfc;
  border-radius: 10px;
  border: none;

  font-family: 'NanumSquareRound';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
  color: #090936;
}
@keyframes login-form-ani {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color:  #151719; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sentence {
  position: relative;
  /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2)); */
  font-size: 60px;
}
.sentence span {
  font-family: 'NanumSquareRound';
  position: relative;
  display: inline-block;
  color: #090936;
  font-size: large;
  font-weight: 900;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
