@import url('http://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(247, 249, 255, 1) 0%, rgba(242, 246, 255, 1) 100%);
  cursor: grab;
}

.slider_item_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.4s;
  font: 'NanumSquareRound';
}

.slider_image_wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

/* .slider-image {
  width: 100%;
  height: 100%;
  object_fit: cover;
  transition: 0.2s;
} */

.swiper_container {
  width: 300px;
  position: relative;
  height: 80%;
}

.swiper_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
}

.slider_buttons {
  position: absolute;
  display: flex;
  top: 100%;
  justify-content: flex-end;
  width: 100%;
  padding-top: 8px;
  font-size: 100px;
}

.swiper_button_next,
.swiper_button_prev {
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.scroll {
  overflow: auto;
}
.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #eb6123;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background-color: rgba(235, 97, 35, 0.2);
  border-radius: 0 10px 10px 0;
}

.cardlist_top {
  position: relative;
  margin: 0 5% 5% 5%;
  justify-content: center;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 4em;
}
.swiper_pagination {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translatex(-50%);
  z-index: 1;
  width: auto !important;
}

.swiper_pagination_bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  line-height: 30px;
  font-size: 12px;
  opacity: 1;
  background: #ffb200;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper_pagination_bullet_active {
  width: 20px;
}

.card_whole {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.22);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 20px;
  height: 450px;
  width: 300px;
}
