.mypage {
  font-weight: 900;
}

/* .title {
  justify-content: center;
  text-align: center;
  align-items: baseline;
} */

text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
