@import url('http://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.Signup_all {
  text-align: center;
  font-family: 'NanumSquareRound';
  justify-content: center;
  display: flex;
  flex-flow: row nowrap;
}

.woori_logo {
  margin-top: 5%;
  width: 100px;
  height: 110px;
  justify-content: center;
  display: flex;
}

.text_type {
  font-weight: 900;
  font-size: 22px;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #090936;
}

.signup_form {
  width: 360px;
  height: auto;

  background: #fefaef;
  mix-blend-mode: normal;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 50.0488px 40.0391px rgba(0, 0, 0, 0.0532233),
    0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112), 0px 19.3198px 15.4559px rgba(0, 0, 0, 0.0399626),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 7.88218px 6.30574px rgba(0, 0, 0, 0.0300374),
    0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888), 0px 1.99324px 1.59459px rgba(0, 0, 0, 0.0167767);
  border-radius: 30px;
  margin-bottom: 1%;
  margin-top: 2%;
  animation: signup-form-ani 0.5s;
}

.impossible {
  justify-content: left;
  display: flex;
  font-weight: 100;
  font-size: 2px;
  color: red;
  padding-left: 18%;
}
.possible {
  justify-content: left;
  display: flex;
  font-weight: 100;
  font-size: 2px;
  color: blue;
  padding-left: 18%;
}

.input_form_top {
  border: none;
  width: 230px;
  height: 35px;
  align-items: center;
  justify-items: center;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  padding-left: 4%;
  padding-right: 4%;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: ;
}
.input_form {
  border: none;
  width: 230px;
  height: 35px;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'NanumSquareRound';
  font-weight: 500;
  font-size: 13px;
  line-height: 27px;
  /* padding-left: 4%;
  padding-right: 4%; */
  padding: 0 15px;
}
.date_input {
  border: none;
  width: 230px;
  height: 35px;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'NanumSquareRound';
  font-weight: 500;
  font-size: 13px;
  line-height: 27px;
  padding-left: 4%;
  padding-right: 4%;
  /* -webkit-appearance: none;
  display: none; */
}

input[type='date']::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type='date']:focus::before,
input[type='date']:valid::before {
  display: none;
}

.check_box {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-left: 16%;
  display: flex;
  margin-right: 10%;
}

.gender {
  font-weight: 700;
  font-size: 17px;
  color: #090936;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30%;
}

.gender_check {
  border: none;
  display: flex;
  align-items: center;
  padding: 0 0 0 0;
  width: 100%;
}

.gender_label {
  font-weight: 500;
  font-size: 13px;
  color: #090936;
  appearance: none;
  display: flex;
  align-items: center;
  width: 100%;
}
.gender_label input {
  margin: 5%;
}

.accept {
  border: none;
  background: #d6ebfc;
  border-radius: 10px;
  width: 260px;
  height: 40px;
  font-weight: 900;
  font-size: 18px;
  color: #090936;
  align-items: center;
  text-align: center;
  flex-flow: row nowrap;
  font-family: 'NanumSquareRound';
  margin-bottom: 9%;
  margin-top: 3%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
}

.check_btn {
  align-items: center;
  border: none;
  position: absolute;
  /* left: 117em; */
  margin: 6px;

  width: 60px;
  height: 25px;

  background: #d6ebfc;
  border-radius: 15px;
  font-weight: 900;
  font-size: 7px;
  font-family: 'NanumSquareRound';
  justify-content: center;
  color: #090936;
  top: 0;
  right: 50px;
}

@keyframes signup-form-ani {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
